@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Yantramanav', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --themeColorPrimary: #E84A43;
  --themeColorAccent: rgb(185, 192, 213);
  --themeColorAccentNeg10: rgb(95 104 131);
  --themeColorDark: rgba(50, 50, 50);
  --themeColorDarkNeg10: rgba(75, 75, 75);

  font-family: 'Poppins', sans-serif;
  font-size: calc(1vw + 16px);
  color: white;
  background-color: var(--themeColorDark);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
